dash
dash_bootstrap_components
dash_bootstrap_templates
dash_cytoscape
dash_iconify
networkx
pydot
pillow
rdata
pyreadr
platformdirs
flask
dash_resizable_panels

brokilon @ git+https://github.com/Lars-B/pyccd@main

numpy
pandas